h1 { /** gros titre */
  font-family: serif;         /* On se permet un changement de police : pas plus de deux par page, et Ã  utiliser avec parcimonie (c'est le cas) */
  background: #8B4513 none;   /* Fond du titre bleu (et sans image de fond) */
  color: yellow;               /*  Donc on utilise une police blanche pour que le texte soit visible */
  border: 3px dotted #9999FF; /* On encadre le titre d'un bleu clair de 3 pixels de largeur */
  padding: 0.3em;             /* Espacement intÃ©rieur non nul pour que le texte ne colle pas Ã  la bordure du cadre */
  text-align: center;         /* Le titre doit Ãªtre centrÃ© ! */
  letter-spacing: 0.3em;      /* On espace les caractÃ¨res pour que ce soit joli :-) */
}
h2 { /** Les titres de paragraphes */
  text-decoration: underline; /* On souligne ces titres */
  font-variant : small-caps;   /* Et on les met en majuscules (les minuscules sont remplacÃ©es par des petites majuscules) */
  color: #8B4513;             /* Texte de couleur bleu trÃ¨s foncÃ©, presque noir (donc lisible) */
}
h3 { /** Les sous-titres (titres de niveau 3) */
  color: yellow;             /* Texte de couleur bleu, plus clair que le titre h2 */
  font-style: italic;         /* Texte en italique */
  text-indent: 1em;           /* Et indentÃ© par rapport aux autres titres et paragraphes, pour montrer la hierarchie */
}
h4 {
    color: #8B4513
}
h5 {
    text-align: center;    
}